---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About - Joany Buclon'>
  <div>
    <div class='flex flex-col justify-center min-h-screen items-center p-10 pt-0'>
      <h1 class='text-8xl'>About Me</h1>
    </div>
    <div class='flex flex-col p-10 gap-2'>
      <p>
        Hello <span class='font-semibold'>Beta Readers</span>! The following content comes directly from the current
        portfolio over at <a class='text-violet-400 hover:text-violet-300' href='https://joanybuclon.com'
          >the main url</a
        >!
      </p>
      <p>
        Hi, my name is Joany! I convert coffee, music and books into code for humans and machines alike. I currently
        live near Bordeaux, France. I work 4/5ths for Sfeir Bordeaux as a backend-developer.
      </p>
      <p>
        I spend my free time on various hobbies that inspire my personal projects. Curious and quiet, learning new
        things fuels my creativity. I love spending time with my friends. I’m also a fan of movies, literature and
        gaming.
      </p>
      <p>Don’t hesitate to read more about me and my projects!</p>
      <a href=''>Learn more</a>
    </div>
    <div>
      <h2 class='text-4xl'>History</h2>
    </div>
    <div>
      <h2 class='text-4xl'>Skills</h2>
    </div>
  </div>
</Layout>
