---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Joany Buclon'>
  <div class='flex flex-col gap-4 p-10 overflow-hidden'>
    <h1 class='text-8xl'>Joany Buclon</h1>
    <h2 class='text-2xl'>Novelist & Software Engineer</h2>
  </div>
</Layout>
