---
const pathname = Astro.url.pathname;
const isActive = (href: string) => pathname === href || (href !== '/' && pathname.startsWith(href));
---

<header class='fixed top-0 inset-x-0 z-10 flex justify-end gap-2 p-10 transition-colors duration-200 has-[.nav.display]:bg-neutral-950'>
  <div class='burger flex flex-col items-end'>
    <div id='nav-icon2'>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class='nav text-lg'>
      <a href='/' class:list={[{ active: isActive('/') }]}>home</a>
      <a href='/about' class:list={[{ active: isActive('/about') }]}>about</a>
      <div class='spacer pt-2 pb-2'></div>
      <a href='https://github.com/JoanyBuclon' target='_blank'>github ↗</a>
      <a href='https://linkedin.com/in/joany-buclon/' target='_blank'>linkedin ↗</a>
      <a href='mailto: joany.buclon@viacesi.fr'>email ↗</a>
    </div>
  </div>
</header>

<script>
  function attachBurger(): void {
    const burger = document.querySelector<HTMLElement>('.burger');
    const navicon = document.querySelector<HTMLElement>('#nav-icon2');
    const nav = document.querySelector<HTMLElement>('.nav');
    if (!burger || !navicon || !nav) return;
    burger.addEventListener('mouseenter', () => {
      navicon.classList.add('open');
      nav.classList.add('display');
    });
    burger.addEventListener('mouseleave', () => {
      navicon.classList.remove('open');
      nav.classList.remove('display');
    });
  }

  document.addEventListener('astro:page-load', attachBurger);
</script>

<style>
  .burger {
    width: 100%;
    padding-top: 20px;
  }

  .burger span {
    color: white;
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  .nav.display {
    display: flex;
  }

  .nav a.active {
    font-weight: 600;
  }

  /* Menu Burger Still */
  #nav-icon2 {
    width: 30px;
    height: 45px;
    margin-left: 12px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #f2f2f2;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  #nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  #nav-icon2 span:nth-child(1),
  #nav-icon2 span:nth-child(2) {
    top: 0px;
  }

  #nav-icon2 span:nth-child(3),
  #nav-icon2 span:nth-child(4) {
    top: 10px;
  }

  #nav-icon2 span:nth-child(5),
  #nav-icon2 span:nth-child(6) {
    top: 20px;
  }

  /* Menu Burger Animated */
  #nav-icon2.open span:nth-child(1),
  #nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon2.open span:nth-child(2),
  #nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon2.open span:nth-child(1) {
    left: 3px;
    top: 0px;
  }

  #nav-icon2.open span:nth-child(2) {
    left: calc(50% - 3px);
    top: 0px;
  }

  #nav-icon2.open span:nth-child(3) {
    left: -50%;
    top: 10px;
    opacity: 0;
  }

  #nav-icon2.open span:nth-child(4) {
    left: 100%;
    top: 10px;
    opacity: 0;
  }

  #nav-icon2.open span:nth-child(5) {
    left: 3px;
    top: 21px;
  }

  #nav-icon2.open span:nth-child(6) {
    left: calc(50% - 3px);
    top: 21px;
  }
</style>
